mat-card {
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
}

mat-grid-tile {
    margin-left: -70px;
}

.formDiv {
    margin-left: 50px;
}

mat-form-field {
    margin: 20px;
}

.imageDiv {
    align-content: flex-end;
}

.imagePreview {
    max-height: 520px;
    max-width: 360px;
}

.buttonDiv {
    text-align: center;
}

.whiteText {
    color: #FFFFFF;
}