<div class="createGameCard">
  <mat-card class="mainCard">
    <form [formGroup]="createGameForm" (ngSubmit)="createGame()">
      <mat-grid-list cols="2" rowHeight="1:1.2">
        <mat-grid-tile>
          <div class="formDiv">
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Título</mat-label>
              <input
                matInput
                formControlName="name"
                id="name"
                placeholder="Título"
                (change)="onFieldChange($event)"
              />
              <mat-error *ngIf="year?.hasError('required')"
                >Este campo es obligatorio</mat-error
              >
            </mat-form-field>

            <br />

            <mat-form-field appearance="fill" color="accent">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="state" (selectionChange)="onSelectChange($event)">
                <mat-option value="Acabado"> Acabado </mat-option>
                <mat-option value="No terminado"> No terminado </mat-option>
                <mat-option value="Jugando"> Jugando </mat-option>
              </mat-select>
              <mat-error *ngIf="year?.hasError('required')"
                >Este campo es obligatorio</mat-error
              >
            </mat-form-field>

            <br />

            <mat-form-field appearance="fill" color="accent">
              <mat-label>Plataforma</mat-label>
              <mat-select formControlName="platform" (selectionChange)="onSelectChange($event)">
                <mat-option
                  *ngFor="let platform of platforms"
                  [value]="platform"
                >
                  {{ platform }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="year?.hasError('required')"
                >Este campo es obligatorio</mat-error
              >
            </mat-form-field>

            <br />

            <mat-form-field appearance="fill" color="accent">
              <mat-label>Año</mat-label>
              <input
                id="year"
                type="number"
                min="1995"
                matInput
                formControlName="year"
                placeholder="Año"
                (change)="onFieldChange($event)"
              />
              <mat-error *ngIf="year?.hasError('min')"
                >El año mínimo es 1995</mat-error
              >
              <mat-error *ngIf="year?.hasError('required')"
                >Este campo es obligatorio</mat-error
              >
            </mat-form-field>

            <br />

            <mat-form-field appearance="fill" color="accent">
              <mat-label>Imagen</mat-label>
              <ngx-mat-file-input
                type="file"
                name="file"
                formControlName="image"
                id="file"
                #fileInput
                (change)="onFileChange($event)"
              ></ngx-mat-file-input>
              <mat-error *ngIf="image?.hasError('required')"
                >Este campo es obligatorio</mat-error
              >
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-card class="card">
            <mat-card-content>
              <img [src]="imageSrc" *ngIf="imageSrc" class="imagePreview" />
            </mat-card-content>
            <mat-card-footer>
              <div class="alignBottom">
                <h1 class="cardTitle">
                  <!-- En formato h1 se muestran el nombre, estado, plataforma y año -->
                  {{ previewGame.name }}

                  <div *ngIf="previewGame.state == 'Acabado'">
                    <!-- Estos divs indican el estado del juego -->
                    <mat-icon>check</mat-icon>
                  </div>
                  <div *ngIf="previewGame.state == 'Jugando'">
                    <!-- Estos divs indican el estado del juego -->
                    <mat-icon>sports_esports</mat-icon>
                  </div>
                  <div *ngIf="previewGame.state == 'No terminado'">
                    <!-- Estos divs indican el estado del juego -->
                    <mat-icon>close</mat-icon>
                  </div>

                  {{ previewGame.platform }} - {{ previewGame.year }}
                </h1>
              </div>
            </mat-card-footer>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="buttonDiv">
        <button
          mat-flat-button
          color="accent"
          class="whiteText"
          [disabled]="createGameForm.invalid"
        >
          Guardar datos
        </button>
      </div>
    </form>
  </mat-card>
</div>
