.login-card {
    align-content: center;
    margin-top: 30px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

.whiteText {
    color: #FFFFFF;
}

.mat-form-field {
    width: 450px !important;
    margin: 10px;
}
