<ngx-spinner
  type="ball-clip-rotate"
  template="<img src='assets/img/donut-logo.gif'>"
></ngx-spinner>
<div>
  <mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let game of games">
      <mat-card class="card">
        <mat-card-content>
          <img [src]="game.image" class="img" />
        </mat-card-content>
        <mat-card-footer>
          <div class="alignBottom">
            <h1 class="cardTitle"> <!-- En formato h1 se muestran el nombre, estado, plataforma y año -->
              {{ game.name }}

              <div *ngIf="game.state == 'Acabado'">
                <!-- Estos divs indican el estado del juego -->
                <mat-icon>check</mat-icon>
              </div>
              <div *ngIf="game.state == 'Jugando'">
                <!-- Estos divs indican el estado del juego -->
                <mat-icon>sports_esports</mat-icon>
              </div>
              <div *ngIf="game.state == 'No terminado'">
                <!-- Estos divs indican el estado del juego -->
                <mat-icon>close</mat-icon>
              </div>

              {{ game.platform }} - {{ game.year }}
            </h1>
          </div>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
