.card {
  border-radius: 10px;
  //margin-top: 50px;
  margin: 20px;
  width: fit-content;
  //max-width: 20%;
  height: 85%;
}

.cardTitle {
  text-align: center;
}

.img {
  padding: 10px;
  height: 390px;
  width: 270px;
}


