.card {
  border-radius: 10px;
  margin: 20px;
  width: fit-content;
  height: 85%;
}

.cardTitle {
  text-align: center;
}

.alignBottom {
  vertical-align: bottom;
}

.img {
  padding: 10px;
  height: 390px;
  width: 270px;
  object-fit: contain;
}


